<h1>Search#search</h1>
<h2>Users</h2>
<table>
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th colspan="1"></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.name %></td>
				<td>show</td>
			</tr>
		<% end %>
	</tbody>
</table>
