<% book_comments.each do |book_comment| %>
	<li class="comment">
		<div class="comment-text">
			<div class="comment-author clearfix">
				<%= book_comment.user.name %>
				<span><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
			</div>
			<div class="comment-entry"> <%= book_comment.comment %></div>
		</div>
		<% if book_comment.user == current_user %>
		    <span><%= link_to "削除", book_book_comment_path(@book.id), method: :delete, remote: true %></span>
		<% end %>
	</li>
<% end %>